{
    "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmafeatures": { "jsx":true}
    },
    "extends":["eslint:recommended"],
    "rules": {"semi":"off",
        "no-undef":"off",
        "quotes":["error","single"],
        "parser": "babel-eslint"
    },
    "env": {
        "browser": true
    }
    
    }